{
  "arrowParens": "avoid",
  "bracketSpacing": false,
  "singleQuote": true,
  "svelteSortOrder": "scripts-styles-markup",
  "svelteBracketNewLine": false,
  "svelteIndentScriptAndStyle": true,
  "trailingComma": "none"
}
